<header>
  <h2><a href="/">Dev Post</a></h2>
  <nav>
    <% if (user) { %>

    <a href="/logout" class="btn">Log Out</a>
    <% } else { %>
    <a href="/login" class="btn">Log In</a>
    <a href="/" class="btn">Sign Up</a>
    <% } %>
  </nav>
</header>
